@using FamilyBudgetManagementApp.ViewModels;
@model BudgetViewModel;

@{
    ViewData["Title"] = "Home Page";
    var xAxis = Model.MontlyTransactionsDay;
    var yAxis = Model.MontlyTransactionsAmount;

}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p class="text-center">
                    <strong>Statistics for this month</strong>
                </p>

                <div class="chart">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="myChart" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.chart-responsive -->
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h5 class="description-header">$35,210.43</h5>
                    <span class="description-text">TOTAL BALANCE</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h3 class="description-header">$10,390.90</h3>
                    <span class="description-text">TOTAL OUTCOME</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h5 class="description-header" onload="">$24,813.53</h5>
                    <span class="description-text">TOTAL INCOME</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block">
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">TOTAL TRANSACTIONS</span>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-footer -->
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    @*    <script src="~/plugins/chart.js/Chart.min.js"></script>*@
    <script>
        var xValues = [ 1,  1, 1];
        var yValues = [34.00, 4.00,210.00];

            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        xAxes: [{ ticks: { min: 1, max: 31 } }],
                    }
                }
            });
        
    </script>

                        }