@using FamilyBudgetManagementApp.ViewModels;
@model BudgetViewModel;

@{
    ViewData["Title"] = "Home Page";
    var xAxis = Model.MontlyTransactionsDay;
    var yAxis = Model.MontlyTransactionsAmount;

}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p class="text-center">
                    <strong>Statistics for this month</strong>
                </p>
                <div class="chart">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="myChart" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.chart-responsive -->
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h5 class="description-header">@Model.Balance</h5>
                    <span class="description-text">TOTAL BALANCE</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h3 class="description-header">$0</h3>
                    <span class="description-text">TOTAL OUTCOME</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h5 class="description-header" id="test"></h5>
                    <span class="description-text">TOTAL INCOME</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block">
                    <h5 class="description-header">@yAxis</h5>
                    <span class="description-text">TOTAL TRANSACTIONS</span>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-footer -->
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        document.getElementById("test").innerText = `@xAxis`

        let xValues = JSON.parse(`@xAxis`);
        let yValues = JSON.parse(`@yAxis`);

        console.log(`"${@xAxis}"`);
        console.log(yValues);

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    xAxes: [{ ticks: { min: 1, max: 31 } }],
                }
            }
        });     
    </script>
    }
